[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
sqlparse = "==0.4.4"
typing-extensions = "==4.9.0"
tzdata = "==2023.4"
markdown = "*"
pymdown-extensions = "*"
pygments = "*"
django-browser-reload = "*"
requests = "*"
django-cookiebanner = "*"
python-frontmatter = "*"
djlint = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
django = "*"
django-allauth = "*"
social-auth-app-django = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

[scripts]
server = "python challenges/manage.py runserver"
migrate = "python challenges/manage.py migrate"
makemigrations = "python challenges/manage.py makemigrations"
test = "python challenges/manage.py test"
