{% extends 'layout.html' %}

{% block body %}
<h1>Alum-Challenges - Extra practice</h1>
<div>
    <h2>What is Alum-Challenges?</h2>
    <div>
        <p>
            Alum-Challenges is a project started by a group of enthousiastic alumns of <a
               href="https://cs50.harvard.edu/x">CS50
                by Harvard
                University</a>. Motivated to do something with our newfound skills and keen to give back to the
            community of CS50; those who came before us, our cohorts and anyone who might come after.
        </p>
        <p>
            In the spirit of helping each other learn, we decided to start this website to share interesting extra
            practice problem sets. On here you can find loads of interesting user-generated problem sets to test your
            skills at programming, whether you're a seasoned CS50 alumn with all the skills to pay the bills, or still
            struggling with mario.c and looking for extra practice.
        </p>
        <p>
            This entire website is open-source, and should you feel like it, we welcome community contributions a lot.
            See any mistakes on the site? Don't wait for us to fix it, but check out our repository on <a
               href="https://github.com/alum-challenges/alum-challenges">Github</a> and show us what you can do!
        </p>
    </div>
</div>
{% endblock %}