{% extends "layout.html" %}
{% block title %}Log in{% endblock %}
{% block body %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="">
            <input autofocus class="" type="text" name="username" placeholder="Username">
        </div>
        <div class="">
            <input class="" type="password" name="password" placeholder="Password">
        </div>
        <div>
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'github' %}">
                    Log in via GitHub
                </a>
            </button>
        </div>
        <input class="" type="submit" value="Login">
    </form>
{% endblock %}
